body {
    padding: 1% 5%;
}

nav {
    text-align: center;
    font-size: 130%;
}

.n1 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #FF764E;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}


.n2 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #5ED3EB;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}

.n3 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #FFCD69;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}

.img1 {
    display: inline-block;
    border:0px transparent;
    border-radius: 50%;
    width: 20%;
    margin-top:5%;
    margin-left:10%;
}

.yosepark {
    display: inline-block;
}

.yosepark p {
    margin-bottom:3%;
    margin-right:5%;
    margin-left:5%;
    font-family: 'roboto mono', serif;
    font-size: 150%;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', serif;
    text-decoration: bold;
    font-size: 400%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 6%;
    text-align:center;
}

.sect1 {
    background-color: #DDB9A3;
}

.sect1 p {
    color: white;
    text-align:center;
    font-size:160%;
    padding:1%;
    margin:0 7%;
    font-family:'roboto mono', serif;
}

.img2 {
    display: block;
    width: 10%;
    margin:0 auto;
}

.sect2 p {
    margin:0 35%;
    font-size:130%;
    font-family: 'roboto mono', serif;
    text-align:center;
}

.bld {
    font-style: bold;
}

.img3 {
    display: block;
    width: 10%;
    margin:0 auto;
}

.n4 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #FF764E;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}

.n5 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #5ED3EB;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}

.n6 {
    width: 150px;
    border: 0px transparent;
    border-radius: 10px;
    color:white;
    background-color: #FFCD69;
    padding:1% 3%;
    text-decoration: none;
    Margin:1.5% 5%;
    font-family: 'roboto mono', serif;
}

.img4 {
    height:50%;
    object-fit: fill;
}